body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  /* background-color: #272727; */
  /* background: linear-gradient(135deg, #cacaca, #4f4f4f); */
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.chat-response-container {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
}

.chat-response {
  background-color: #474747;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  word-wrap: break-word;
  margin: 10px;
  color: black;
}

.chat-form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  background: rgba(31, 31, 31, 0.6);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.chat-input {
  width: 80%;
  padding: 15px;
  border: 2px solid #c4c4c4;
  border-radius: 26px;
  font-size: 16px;
  font-weight: bold;
  outline: none;
}

.chat-submit {
  width: 100px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  transition: 0.3s;
}

.chat-submit:hover {
  background-color: #0056b3;
}

.chat-messages-container {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

/* @media screen and (max-width: 1253px) {
  .chat-messages-container {
    width: 98.4%;
  }
} */

.chat-message {
  width: auto;
  max-width: 60%;
  min-width: 70px;
  font-size: 17px;
  font-weight: bold;
  margin: 10px 0;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.chat-message.user {
  align-self: flex-end;
  background-color: #007bff;
  color: #fff;
  text-align: center;
}

.chat-message.bot {
  align-self: flex-start;
  /* background-color: #9f9f9f; */
  background: linear-gradient(135deg, #d3d3d3, #adadad);
  color: #000;
}

.bienvenida {
  color: transparent;
  font-size: 50px;
  margin-left: 14%;
  background: linear-gradient(to right, rgb(0, 221, 235), rgb(143, 9, 226));
  -webkit-background-clip: text;
  background-clip: text;

  display: block;
  white-space: nowrap;
  border-right: 4px solid #ccc;
  width: 10ch;

  animation: typing 1s steps(12),
    blink .5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.subtitulo-bienbenida {
  color: #d0d0d0;
  margin-top: -24px;
  margin-left: 14.5%;
  animation: slideAndFade 5s;
}

@keyframes slideAndFade {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateXY(0);
    opacity: 1;
  }
}


@media screen and (max-width: 1253px) {
  .chat-submit {
    margin-right: 50px;
  }
}

@media screen and (max-width: 1154px) {
  .chat-submit {
    margin-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .chat-submit {
    margin-right: 50px;
    margin-left: 20px;
  }
}