body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 89vh;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 89vh;
  width: 100%;
}

.chat-response-container {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
}

.chat-response {
  background-color: #474747;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  word-wrap: break-word;
  margin: 10px;
  color: black;
}

.chat-form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  padding: 20px;
  background: rgb(31, 31, 31);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid;
  border: transparent;
  border-top: 1px solid;
  border-image: linear-gradient(to right, rgb(0, 221, 235), rgb(149, 24, 226)) 1;

}

.chat-input {
  width: 80%;
  padding: 15px;
  border: 2px solid rgb(0, 221, 235);
  border-radius: 26px;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  background: #000;
  box-shadow: 0px 0px 20px rgba(0, 221, 235, 0.5);
  color: #fff;
}

.chat-input::placeholder {
  color: #fff;
}

.chat-submit {
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 100px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
  margin-right: 30px;
}

.chat-submit:active,
.chat-submit:hover {
  outline: 0;
}

.chat-submit span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: rgb(5, 6, 45);
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.chat-submit:hover span {
  background: none;
}

.chat-submit:active {
  transform: scale(0.9);
}

.chat-messages-container {
  width: 100%;
  height: auto;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: #000;
  margin-bottom: 100px;
}

.chat-message {
  width: auto;
  max-width: 60%;
  min-width: 70px;
  font-size: 17px;
  font-weight: bold;
  margin: 10px 0;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.chat-message.user {
  align-self: flex-end;
  background-color: #007bff;
  color: #fff;
  text-align: center;
}

.chat-message.bot {
  align-self: flex-start;
  background: linear-gradient(135deg, #d3d3d3, #adadad);
  color: #000;
}

.bienvenida {
  color: transparent;
  font-size: 50px;
  margin-left: 14%;
  background: linear-gradient(to right, rgb(0, 221, 235), rgb(143, 9, 226));
  -webkit-background-clip: text;
  background-clip: text;

  display: block;
  white-space: nowrap;
  border-right: 4px solid #ccc;
  width: 10ch;
  animation: typing 1s steps(12),
    blink .5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.bienvenida-name {
  color: transparent;
  font-size: 40px;
  margin-top: -3%;
  margin-left: 14%;
  margin-bottom: 30px;
  background: linear-gradient(to right, rgb(0, 221, 235), rgb(143, 9, 226));
  -webkit-background-clip: text;
  background-clip: text;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  animation: slideAndFade 5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



@keyframes blink {
  50% {
    border-color: transparent
  }
}

.subtitulo-bienbenida {
  color: #d0d0d0;
  margin-top: -24px;
  margin-left: 14.5%;
  animation: slideAndFade 5s;
}

@keyframes slideAndFade {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateXY(0);
    opacity: 1;
  }
}


@media screen and (max-width: 1253px) {
  .chat-submit {
    margin-right: 50px;
  }
}

@media screen and (max-width: 1154px) {
  .chat-submit {
    margin-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .chat-submit {
    margin-right: 50px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 414px) {
  .bienvenida-name {
    font-size: 35px;
  }
}

@media screen and (max-width: 362px) {
  .bienvenida-name {
    font-size: 32px;
  }
}

@media screen and (max-width: 331px) {
  .bienvenida-name {
    font-size: 25px;
  }

  .bienvenida {
    font-size: 40px;
  }
}

@media screen and (max-width: 263px) {
  .bienvenida-name {
    font-size: 18px;
  }

  .bienvenida {
    font-size: 30px;
  }
}