.navbar {
  width: 100%;
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid;
  border: transparent;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, rgb(0, 221, 235), rgb(149, 24, 226)) 1;
}

@media screen and (max-width: 1253px) {
  .navbar {
    width: 100%;
  }
}

.nav-list {
  list-style: none;
  display: flex;
  margin-bottom: -26px;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  padding: 6px;
  transition: 0.3s;
}

.nav-link:hover {
  /* background-color: rgb(253, 253, 245); */
  color: #007bff;
}

@media (max-width: 768px) {
  .navbar {
    /* flex-direction: column; */
  }

  .nav-list {
    /* flex-direction: column; */
    align-items: center;
  }

  .nav-item {
    margin-left: 18px;
    margin-top: -30px;
  }

  .user-img {
    margin-left: -60px;
    scale: 0.8;
    margin-bottom: -20px;
  }

  .nav-link-btn {
    display: none;
  }

  .nav-link-btn-l {
    margin-left: -16px;
    margin-right: 10px;
  }
}

.titulo {
  width: 160px;
  text-align: end;
  font-size: 2em;
  background: linear-gradient(to right, rgb(0, 221, 235), rgb(149, 24, 226));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin: 30px auto;
}

.user-img {
  border-radius: 30px;
  width: 64px;
  margin-top: -20px;
}

.nav-link-btn {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  padding: 6px;
  transition: 0.3s;
  background-color: black;
  margin-top: -4px;
  border: none;
}

.nav-link-btn:hover {
  color: #007bff;
}

.nav-link-btn-l {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  padding: 6px;
  transition: 0.3s;
  background-color: black;
  margin-top: -4px;
  border: none;
  margin-right: 15px;
}

.nav-link-btn-l:hover {
  color: #007bff;
}